
/* ---------------------общие--------------*/
a {

    text-decoration: none;
    color:#E9EBEB;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
/* .body {

    margin: 0;
    padding: 0;
} */
html,body {
   
    font-family: 'MursGothic', 'Raleway', 'Inter', sans-serif;
    font-size: 16px; 
    color: #CCC5B9; 
    min-width: 320px; 
    overflow-x: hidden;
    max-width: 1280px; /* Ограничиваем максимальную ширину */
    margin: 0 auto; /* Центрируем контент */
    padding: 0;
    
    

}

/* ---------------------общие--------------*/


/* ---------------------меню--------------*/
/* верхнее меню */
.conteiner-top-head {

    display: flex;
    justify-content: space-between;
    background-color: #282E33;
    height: 100px;
    padding: 30px;
    align-items: center;
}

.top-header_logo {

    margin-top: 30px;
    margin-left: 90px;
}

.top-header_telephone {

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

}
.telephone-header {

    font-size: 35px;
    text-decoration: none;
    color:#E9EBEB;

}
.telephone-header:hover {

    color: #E77B2D;


}
/* верхнее меню */

/* меню линии */

.horizontal-bar {

    width: 100%;
    height: 1px; /* Высота полосы */
    background-color: #E77B2D; /* Цвет полосы */
    margin: 0 auto; 

}

/* делает активным цвет */
.nav-link.active {
    color: #E77B2D!important; /* Белый текст */
}

/* меню линии */


/* меню  bootstrap  убрать обводку */
.navbar-toggler {
    border: none !important; 
  
}
/* меню  bootstrap  убрать обводку при нажатии */
.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
}

.navbar-nav .nav-link {
    font-size: 18px; /* Размер шрифта */
    font-weight: 700; /* Полужирный текст */
    text-transform: uppercase;
    color: #E9EBEB;
    transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #E77B2D;
   
}    

.navbar-nav .nav-item {
    margin-right: 30px; /* Отступ между пунктами */
  }

/* меню  bootstrap */

/* ---------------------меню--------------*/


/* ---------------------section home--------------*/

.home-image {

    background-image: url(/FRONT/image/home-planshet.png);
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.home-color-image {

    background-color: #E9EBEBB2;
    /* opacity: 70%; */
    width: 650px;
    height: 100%;
    border-radius: 0 30px 30px 0;
}
.home-conteiner {

    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    max-width: 450px;
    margin-left: 150px;
    text-align: left;
    padding: 40px;
    
}

/* mobile-version */

.home-mobile {

    display: none;
    background-color: #E9EBEB;
    width: 100%;
    height: 700px;
    justify-content: center;
    align-items: center;
}
.home-conteiner-mobile {

    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    max-width: 450px;
   
    text-align: left;
    padding: 40px;
    
}
/* mobile-version */


.home-text {

    margin-bottom: 40px;
    max-width: 350px;
   


}


.home-items p{

    font-weight: 900;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 20%;
    color:#E77B2D;
    text-transform: uppercase;
}
.home-description h1 {

    font-weight: 900;
    font-size: 55px;
    line-height: 55px;
    color: #282E33;


}

.home-text h2{


    font-weight: 700;
    font-size: 23px;
    opacity: 60%;
    color: #282E3399;


}

.home-btn {

    width: 312px;
    height: 60px;
    border-radius: 30px; /* Округляет углы */
    background-color: #E77B2D; /* Цвет кнопки */
    color: #E9EBEB; /* Цвет текста */
    border: none; /* Убирает рамку */
    font-size: 16px; /* Размер текста */
    cursor: pointer;
    margin-top: 20px;
    line-height: 33,5px;
    letter-spacing: 5px;

}
/* ---------------------section home--------------*/
/* ---------------------section urban--------------*/

.urban-image {

    background-image: url(/FRONT/image/urban-planshet.png);
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-size: cover;
    background-position: center;
}
/* mobile version */

.urban-color-image {

    background-color: #E9EBEBB2;
    /* opacity: 70%; */
    width: 650px;
    height: 100%;
    border-radius: 30px 0px 0 30px;


}
.urban-planshet {

    display: none;
    justify-content: center;
    background-color: #E9EBEB;
    width: 100%;
    height: 800px;



}
.urban-conteiner-mobile {

    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    max-width: 450px;
    padding: 20px
   

}
/* mobile version */

.urban-conteiner {

    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    max-width: 450px;
    margin-left: 150px;
    padding: 20px;
    margin-top: 70px;
    


}


.urban-title h3 {

    font-weight: 900;
    font-size: 55px;
    line-height: 55px;
    color: #282E33;


}

.urban-description  {

    max-width: 350px;
  
}
.urban-description p{

    font-weight: 700;
    font-size: 23px;

    color: #282E3399;


}
.urban-btn {


    width: 200px;
    height: 67px;
    border-radius: 30px; /* Округляет углы */
    background-color: #E77B2D; /* Цвет кнопки */
    color: #E9EBEB; /* Цвет текста */
    border: none; /* Убирает рамку */
    font-size: 16px; /* Размер текста */
    cursor: pointer;
    margin-top: 20px;
    line-height: 33,5px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-left: 130px;
}
/* ---------------------section urban--------------*/
/* ---------------------section service--------------*/

.service-image {


    background-image: url(/FRONT/image/backgraund-service.png);
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;


}

/* section text */
.text-service__block {

    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.text-block h4 {


    font-weight: 900;
    font-size: 55px;
    line-height: 55px;
    color: #282E33;

}
.text-block_item p{


    font-weight: 900;
    font-size: 18px;
    color: #282E3399;
    text-transform: uppercase;
    opacity: 60%;

}
/* section text */

.service-conteiner_card {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 20px;
    justify-content: center;
}
.service-card {

    display: flex;
    flex-direction: column;
    width: 305px;
    height: 230px;
    background-color: #282E33;
    border-radius: 20px;
    align-items: center;
}

.service-card_items p {

    font-size: 23px;
    font-weight: 900;
    line-height: 30px;
    color: #FAFAFF;
    margin-left: 30px;
    margin-top: 30px;


}
.service-card_items img {

    max-width: 50px; /* Ограничиваем размер изображения */
    height: 50px;
    margin-right: 30px;
    margin-top: 30px;


}

.custom-line {

    display: none;
    width: 300px; /* Длина линии */
    height: 2px;  /* Толщина линии */
    background-color: #D9D9D9; /* Цвет линии */
    margin: 20px 0; /* Отступы сверху и снизу */
  


}
.service-card_items {

    display: flex;
    justify-content: space-between; 
    flex-direction: row;

    width: 100%;

}
.service-card_description {

    display: flex;
    text-align: center;
    max-width: 220px;
    max-height: 105px;

}

.service-card_description p{

    color: #FAFAFF;
    font-weight: 100;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 10%;
    margin-top: 25px;


}

.service-btn {

    width: 350px;
    height: 67px;
    border-radius: 30px; /* Округляет углы */
    background-color: #282E33; /* Цвет кнопки */
    color: #E9EBEB; /* Цвет текста */
    border: none; /* Убирает рамку */
    font-size: 16px; /* Размер текста */
    cursor: pointer;
    margin-top: 20px;
    line-height: 33,5px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 20px;


}

.service-btn-conteiner {

    margin-top: 30px;
}

/* ---------------------section service--------------*/

/* ---------------------showroom--------------*/


.showroom-conteiner {

    display: flex;
    flex-direction: column;
    background-color: #E9EBEB;
    width: 100%;
    height: 700px;
    align-items: center;
    background-size: cover;
    background-position: center;

}

.showroom-conteiner_card {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    max-width: 1200px;



}

.showroom-card {

    background-image:url(/FRONT/image/showroom-1.png);
    width: 521px;
    height: 236px;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    border-radius: 20px;


}
.showroom-item {

    display: flex;
    justify-content: flex-start; /* Прижимаем к левому краю */
    align-items: flex-start; 


}
.card-conteiner {

    display: flex;
    flex-direction: column;
    max-width: 220px;
    max-height: 100px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 20px;
    gap: 20px;

}
.showroom-item h5 {

    font-weight: 900;
    font-size: 23px;
}

.showroom-description p{

    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 5%;
    color: #282E33;

   

}
.text-block_item-showroom p{

    font-weight: 900;
    font-size: 18px;
    color: #282E3399;
    text-transform: uppercase;
    opacity: 60%;


}
/* ---------------------showroom--------------*/

/* ---------------------reviews--------------*/

.reviews {

    display: flex;
    flex-direction: column;
    background-color: #E9EBEB;
    width: 100%;
    height: 250px;
    align-items: center;
    background-size: cover;
    background-position: center;
}
.reviews-conteiner {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;

}
.reviews-card {

    display: flex;
    flex-direction: row;
    max-width: 370px;
    max-height: 130px;
    justify-content: center;
    align-items: center;
    gap: 10px;


}
.text-service__block-reviews {


    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;


}
.text-block_item-reviews p{

    font-weight: 900;
    font-size: 18px;
    color: #282E3399;
    text-transform: uppercase;
  

}
.reviews-description {

    max-width: 220px;
    max-height: 100px;
    padding: 5px;

}
.reviews-description h6 {

    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    color: #2E3F7F;
}

/* ---------------------reviews--------------*/
/* ---------------------form--------------*/
.form {
    background-image: url(/FRONT/image/backgraund-service.png);
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;

}
.text-form-top-mobile {

    display: none;


}
.text-form-top-mobile h5 {

    font-size: 30px;
    font-weight: 900;

}
.conteiner-form {

    display: flex;
    flex-direction: row;
    gap:30px;
  
}
.text-service__block-mobile {

    display: none;
   
    text-align: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    


}
.text-block_item-mobile p{


    font-weight: 900;
    font-size: 18px;
    color: #282E3399;
    text-transform: uppercase;
 

}

.form-row-left {

    margin-top: 30px;
}
.form-row-right {

    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}
.form-row {

    display: flex;
    flex-direction: row;
    gap: 10px;
}

.form-field {

    width: 380px;
    height: 60px;
    padding: 10px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    background-color: #7EA2B0;

}
.large-field {

    width: 778px;
    height: 60px;
    padding: 10px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    background-color: #7EA2B0;


}
input::placeholder {

    font-size: 23px;
    font-weight: 700;
    line-height: 30px;
    color:#E9EBEB;
    letter-spacing: 1px;
    padding-left:40px;
}

.form-row-left h5 {

    font-size: 30px;
    font-weight: 900;

}
.home-btn {

    width: 312px;
    height: 60px;
    border-radius: 30px; /* Округляет углы */
    background-color: #E77B2D; /* Цвет кнопки */
    color: #E9EBEB; /* Цвет текста */
    border: none; /* Убирает рамку */
    font-size: 16px; /* Размер текста */
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 10px;
    line-height: 33,5px;
    


}


/* ---------------------form--------------*/
/* ---------------------footer--------------*/
.footer-conteiner {

    /* display: flex;
    flex-direction: row;
    */
}
.footer-image {

    background-image: url(/FRONT/image/footer-destop\ 2.png);
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    flex-direction: row;
    justify-content: flex-end;


}
.footer-logo {

    background-image: url(/FRONT/image/canada-logo.png);
    width: 300px;
    height: 200px;
    background-size: cover;


}
.footer-description {

    
    display: flex;
    flex-direction: column;
    max-width: 450px;
    margin-left: 700px;
   



}
.footer-tel {

    display: flex;
    flex-direction: column;
    gap: 20px;
} 

.footer-tel-column {

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.footer-text {

    color: #E77B2D;
    font-weight: 900;
    font-size: 20px;
    margin-top: 30px;
}

.telephone-footer {

    color: #282E33;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;


}

.telephone-footer:hover {

    color: #E77B2D;


}

.footer-mars p{

    color: #2E3F7F;
    font-weight: 900;
    font-size: 18px;


}
.footer-mars a {

    text-decoration: none;
}
.footer-mars {

  

    margin-top: 150px;
    
}
/* mobile-version */
.footer-description-mobile_conteiner {

    display: none;
}
.footer-description-mobile {


    display: flex;
    flex-direction: column;
    max-width: 450px;
    
  
   
}
/* mobile-version */

/* ---------------------footer--------------*/


/* ---------------------DETAIL.HTML--------------*/
/* ---------------------section-detail--------------*/
.detail-image__conteiner {

    background-image: url(/FRONT/image/detail-card__destop.png);
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    flex-direction: row;


}
/* ---------------------card-detail--------------*/
.card-conteiner-items {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 40px;
}
.card-detail__conteiner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 356px;
    height: 499px;
    border-radius: 20px 0 0 20px; /* Верхний левый и нижний правый углы */
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.3);
    position: relative; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
 
}
.card-detail__conteiner:hover {
    transform: scale(1.00); /* Увеличение при наведении */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Увеличение тени при наведении */
}

.card-detail__conteiner:active {
    transform: scale(1.02); /* Немного меньшее увеличение при нажатии */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Слегка уменьшаем тень при нажатии */
}
.circle {

    position: absolute;
    top: 230px;
    right: 40px;
    width: 80px;
    height: 80px;
    z-index: 2;
}
.detail-image_card {

    object-fit: cover;
    width: 100%;
    height: 270px;
    margin-bottom: 30px;
    border-radius: 20px 0 0 0;
    margin-bottom: 60px;


}
.detail-image_card img {

    object-fit: cover;
    width: 100%;
    height: 270px;
    margin-bottom: 60px;
    border-radius: 20px 0 0 0;



}
.detail-text_card {

    width: 244px;
    position: relative;
    margin: 10px;
    margin-left: 40px;
     /* обрезает текст  */
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    white-space: nowrap; 
    /* обрезает текст  */
}
.detail-text_card  h4 {

    font-size: 25px;
    font-weight: 900;
    color: #282E33;
}
.detail-text_card-description p {

    font-size: 18px;
    font-weight: 300;
    color: #282E33;


}
.detail-text_card-description {

    width: 260px;
    height: 100px;
    /* обрезает текст  */
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    /* обрезает текст  */
    margin-left: 44px;
    margin-bottom: 10px;
        
}
/* ---------------------card-detail--------------*/

/* ---------------------detail-text--------------*/
.detail-text-service__block {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;

}
.detail-text-block h4{

    font-weight: 900;
    font-size: 55px;
    line-height: 55px;
    color: #282E33;
}


.detail-text-block_item {

    font-weight: 900;
    font-size: 18px;
    color: #282E3399;
    text-transform: uppercase;
    opacity: 60%;



}
/* ---------------------detail-text--------------*/
/* ---------------------section-detail--------------*/
/* ---------------------new-detail--------------*/
.new-detail_conteiner {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;

}
.new-detail_image {

    /* background-image: url(/FRONT/image/detail-card__destop.png);
    width: 1100px;
    height: 600px;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    border-radius: 30px 0 30px 0; */

    /* Адаптирует отступы для картинки при сжатии  */
    background-image: url('/FRONT/image/detail-card__destop.png');
    /* width: calc(100% - 6px); Вычитаем 3px с каждой стороны для отступов */ 
    width:1100px;
    height: 600px;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    border-radius: 30px 0 30px 0;
    margin: 3px; /* Отступы по бокам */
     /* Адаптирует отступы для картинки при сжатии  */

}

.new-detail_text {

    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1110px;
    max-height: 60px;
    text-align: left;
    /* overflow: hidden;
    text-overflow: ellipsis;
    text-align: left; */


}
.new-detail_text h3{

    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
    margin-top: 30px;
    padding: 20px;
    color: #282E33;

}
/* ---------------------new-detail--------------*/

/* ---------------------slider-card-mobile-------------*/
.slider-card {
    display: none;
}
.carousel-control-prev-icon {
    background-image: url(/FRONT/image/line-left.png)!important;
    width: 50px !important;
    height: 100px !important;
}
.carousel-control-next-icon {
    background-image: url(/FRONT/image/line-right.png)!important;
    width: 50px !important;
    height: 100px !important;
}
/* ---------------------slider-card-mobile-------------*/
/* ---------------------DETAIL.HTML--------------*/

/* ---------------------NEW-PAGE.HTML--------------*/


/* -  new-page -- */

.new-page {

    display: flex;
    align-items: center;
    object-fit: cover;
    justify-content: center;

}
.new-page-image {

    background-image: url(/FRONT/image/detail-card__destop.png);
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    object-fit: cover;

}

.substrate-mobile{

    width: 480px;
    height: 1050px;
    background-color: rgba(231, 123, 45, 1);
    display: flex;
    background-position: center;
    flex-direction: column;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    margin-top: 100px;
    border-radius: 30px;
    padding: 30px;
 

}

/* подложка  mobil*/
.substrate-mobile-section {

    display: none;
    justify-content: center;


}

.substrate-mobile-conteiner{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.substrate-mobile-card {

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.substrate-mobile-item {

    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap:120px;
}
.substrate-mobile-item h6 {

    font-weight: 900;
    font-size: 35px;
    color:#282E33;
}
.substrate-mobile-item img {

    width: 78px;
    height: 78px;


}
.substrate-mobile-description {

    display: flex;
    width: 340px;
    height: 150px;
    justify-content: center;
    align-items: center;
}
.substrate-mobile-description p {

    font-size: 28px;
    font-weight: 300;
}
.substrate-mobile-line {

    width: 350px; /* Длина линии */
    height: 1px;  /* Толщина линии */
    background-color: #D9D9D9; /* Цвет линии */
    margin: 20px 0; /* Отступы сверху и снизу */
  
    


}
/* подложка  mobil*/

/* подложка */
.substrate {

    width: 1104px;
    height: 220px;
    border-radius: 30px;
    background-color: rgba(231, 123, 45, 1);
    display: flex;
    /* align-items: center; */
    background-size: cover;
    background-position: center;
    /* justify-content: center; */
    position: absolute;
    z-index: 2;
    margin-top: 650px;
    flex-direction: column;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.3);
    
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
 
 
}
.substrate-conteiner {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:20px;

}
.new-page-text {

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}
.new-page-text p{

    font-weight: 900;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    opacity: 100%;
    margin-bottom: 40px;
}
.substrate-conteiner-card {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 270px;
    height: 100px;
}
.substrate-conteiner-items h4{

    font-weight: 900;
    font-size: 23px;
    color:#282E33;

}
.substrate-conteiner-items p {

    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color:#FFFFFF;
}
.substrate-conteiner-card img {

    width: 80px;
    height: 80px;
}
.substrate-conteiner-items {

    display: flex;
    justify-content: center;
   
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}
/* подложка */
/* -  new-page -- */


/* -  new-page-text-- */
.new-description {

    display: flex;
    flex-direction: row;
    margin-top: 200px;
    padding: 40px;

    justify-content: center;
    gap: 50px;
}
.new-page-text-items {

    max-width: 450px;
    max-height: 300px;
}
.new-page-text-description {

    display: flex;
    flex-direction: column;
    max-width: 460px;
    padding: 10px;
    gap:20px;

}
.new-page-text-items h1 {

    font-weight: 900;
    font-size: 90px;
    color:#282E33;

}
.new-item p {

    font-weight: 400;
    font-size: 25px;
    color:#282E3399;
    opacity: 80%;
}

/* -  new-page-text-- */
/* -  new-new-style-- */
.new-style {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.new-style-avatar-conteiner {

    display: flex;
    flex-direction: row;
    position: relative;
    gap: 30px;
}
.conteiner-avatar {

    display: flex;
    flex-direction: column;
 
    margin-left: 70px;
  
    align-items: center;
}
.new-style-avatar img {

    width: 125px;
    height: 125px;
}
.new-style-social img{

    width: 40px;
    height: 40px;


}

/* общий контейнер */
.new-style-man {


    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}
/* общий контейнер */
.new-substrate {

    width: 530px;
    height: 130px;
    background-color: #7EA2B066;
  
    border-radius: 30px;
    position: absolute;
    margin-top: 40px;
    z-index: -1; 
    
}
.conteiner-desription__text {

    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}
.conteiner-desription__text h4 {

    font-weight: 900;
    font-size: 23px;
    color: #282E33;
}
.conteiner-desription__text p  {

    font-weight: 400;
    font-size: 18px;
    color: #E77B2D;
   

}
.new-avatar-description {

    max-width: 290px;
    max-height: 60px;

}
.new-avatar-description  h5{

    font-weight: 200;
    font-size: 18px;
    color: #282E33;


}

.flag-conteiner {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.flag-ukraine {

    background-image: url(/FRONT/image/ukraine.png);
    width: 163px;
    height: 79px;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    object-fit: cover;

}
.gerb-ukraine {

    background-image: url(/FRONT/image/gerb-ukraine.png);
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    object-fit: cover;


}
.vertical-line {
    width: 2px; /* Ширина линии */
    height: 150px; /* Высота линии */
    background-color: #000; /* Цвет линии (чёрный) */
    margin: 0 auto; /* Центрирование, если требуется */
}



.flag-canada {

    background-image: url(/FRONT/image/canada-urban.png);
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    object-fit: cover;

}
/* --   video-content -- */
.video-content{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    flex-direction: column;


}

.video-container {

    width: 1000px;
    height: 600px;
    max-width: 100%;
    max-height: 100%;
}

.video-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}
/* --   video-content -- */
/* ---------------------NEW-PAGE.HTML--------------*/


/* ---------------------SERVICE-PAGE.HTML--------------*/
/* SECTION first-service */
.service-image__conteiner {

    background-image: url(/FRONT/image/detail-card__destop.png);
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    flex-direction: row;

}
/*  SECTION first-service */

/*  SECTION service-block */
.service-block__conteiner {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.service-block_image img{

    width: 550px;
    height: 598px;
    border-radius: 30px 0 30px 0

}
.service-block__conteiner-text {

    display: flex;
    flex-direction: column;
    

}
.service-block-description,
.service-block-app {
    display: flex;
    text-align: left;
    justify-content: center;
    padding: 0 30px;

    max-width: 550px;

}
.service-block-items  h1{

    font-size: 55px;
    font-weight: 900;
    line-height: 55px;


}
.service-block-text-decoration {

    display: flex;
    text-align: left;
    padding: 0 30px;
    flex-direction: column;
    margin-top: 100px;
}
.service-block-text-decoration P {

    font-size: 18px;
    font-weight: 900;
    line-height: 30px;
    color:#282E33;
    /* margin-top: 100px; */
    letter-spacing: 1px;
}
.service-block-items {

    display: flex;
    text-align: left;
    padding: 0 30px;
    margin-bottom: 60px;
    max-width: 400px;
}


/*  SECTION service-block */

/*  SECTION service-title */
.service-block-top {

    margin-top: 70px;
    height: 700px;
}

.service-block__conteiner-top {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.service-block_image-top img{

    width: 550px;
    height: 598px;
    border-radius: 30px 0 30px 0

}
.service-block__conteiner-text-top {

    display: flex;
    flex-direction: column;
    

}
.service-block-description-top,
.service-block-app-top {
    display: flex;
    text-align: left;
    justify-content: center;
    padding: 0 30px;

    max-width: 550px;

}
.service-block-items-top  h2{

    font-size: 55px;
    font-weight: 900;
    line-height: 55px;


}
.service-block-text-decoration-top {

    display: flex;
    text-align: left;
    padding: 0 30px;
    flex-direction: column;
    margin-top: 100px;
}
.service-block-text-decoration-top p {

    font-size: 18px;
    font-weight: 900;
    line-height: 30px;
    color:#282E33;
    /* margin-top: 100px; */
    letter-spacing: 1px;
}
.service-block-items-top {

    display: flex;
    text-align: left;
    padding: 0 30px;
    margin-bottom: 60px;
    max-width: 400px;
}

/*  SECTION service-title */

/* ---------------------SERVICE-PAGE.HTML--------------*/